{% extends 'homebase.html'  %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  style="background-color: #eee;">
    {% block content %}
    <br>
    {% comment %} <section class="h-100 h-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card">
                <div class="card-body p-4">
      
                  <div class="row">
      
                    <div class="col-lg-7">
                      <h5 class="mb-3"><a href="#!" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                      <hr>
      
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <div>
                          <h3 class="mb-1"style="font-family:Helvetica;">Shopping cart</h3> {% endcomment %}
                          {% comment %} <p class="mb-0">You have 4 items in your cart</p> {% endcomment %}
                        {% comment %} </div> {% endcomment %}
                        {% comment %} <div>
                          <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                              class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                        </div> {% endcomment %}
                      {% comment %} </div>
                      
                      {% for i in cartdat %}
                      <div class="card mb-3">
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                              <div>
                                <img
                                  src="{{i.productid.image.url}}"
                                  class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                              </div>
                              <div class="ms-3">
                                <h5>{{i.productid.productname}}</h5>
                                <!-- <p class="small mb-0">256GB, Navy Blue</p> -->
                              </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                              <div style="width: 70px;">
                                <h5 class="fw-normal mb-0"><a href="{% url 'qminus' i.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                  </svg></a>Qty.{{i.quantity}}<a href="{% url 'qplus' i.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                  </svg></a></h5>
                              </div>
                              <div style="width: 80px;">
                                <h5 class="mb-0">&nbsp&nbspRs.{{i.productid.price}}</h5>
                              </div>
                              <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                              <div style="width: 80px;">
                                <a href="{% url 'remove_cart' i.id%}">Remove</a>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    
                      {% endfor %}
                       {% endcomment %}

                      <!-- <div class="card mb-3">
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                              <div>
                                <img
                                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img2.webp"
                                  class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                              </div>
                              <div class="ms-3">
                                <h5>Samsung galaxy Note 10 </h5>
                                <p class="small mb-0">256GB, Navy Blue</p>
                              </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                              <div style="width: 50px;">
                                <h5 class="fw-normal mb-0">2</h5>
                              </div>
                              <div style="width: 80px;">
                                <h5 class="mb-0">$900</h5>
                              </div>
                              <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
      
                      <div class="card mb-3">
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                              <div>
                                <img
                                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img3.webp"
                                  class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                              </div>
                              <div class="ms-3">
                                <h5>Canon EOS M50</h5>
                                <p class="small mb-0">Onyx Black</p>
                              </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                              <div style="width: 50px;">
                                <h5 class="fw-normal mb-0">1</h5>
                              </div>
                              <div style="width: 80px;">
                                <h5 class="mb-0">$1199</h5>
                              </div>
                              <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
      
                      <div class="card mb-3 mb-lg-0">
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                              <div>
                                <img
                                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img4.webp"
                                  class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                              </div>
                              <div class="ms-3">
                                <h5>MacBook Pro</h5>
                                <p class="small mb-0">1TB, Graphite</p>
                              </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                              <div style="width: 50px;">
                                <h5 class="fw-normal mb-0">1</h5>
                              </div>
                              <div style="width: 80px;">
                                <h5 class="mb-0">$1799</h5>
                              </div>
                              <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                            </div>
                          </div>
                        </div>
                      </div> -->
      
                    {% comment %} </div >
                    {% if cartdat %}
                    <div class="col-lg-5">
      
                      <div class="card bg-dark text-white rounded-3"style="margin-top:150px;">
                        <div class="card-body"> {% endcomment %}
                          <!-- <div class="d-flex justify-content-between align-items-center mb-4">
                            <h5 class="mb-0">Card details</h5>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                              class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                          </div>
                -->
                          <!-- <p class="small mb-2">Card type</p>
                          <a href="#!" type="submit" class="text-white"><i
                              class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                          <a href="#!" type="submit" class="text-white"><i
                              class="fab fa-cc-visa fa-2x me-2"></i></a>
                          <a href="#!" type="submit" class="text-white"><i
                              class="fab fa-cc-amex fa-2x me-2"></i></a>
                          <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>
      
                          <form class="mt-4">
                            <div class="form-outline form-white mb-4">
                              <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                placeholder="Cardholder's Name" />
                              <label class="form-label" for="typeName">Cardholder's Name</label>
                            </div>
      
                            <div class="form-outline form-white mb-4">
                              <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                              <label class="form-label" for="typeText">Card Number</label>
                            </div>-->
                            
                            {% comment %} <div class="row mb-4">
                              <div class="col-md-6"> {% endcomment %}
                                {% comment %} <div class="form-outline form-white">
                                  <input type="text" id="typeExp" class="form-control form-control-lg"
                                    placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7" />
                                  <label class="form-label" for="typeExp">Expiration</label>
                                </div> {% endcomment %}
                              {% comment %} </div>
                              <div class="col-md-6"> {% endcomment %}
                                {% comment %} <div class="form-outline form-white">
                                  <input type="password" id="typeText" class="form-control form-control-lg"
                                    placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                                  <label class="form-label" for="typeText">Cvv</label>
                                </div>  {% endcomment %}
                              {% comment %} </div>
                            </div>
      
                          </form>
      
                          <hr class="my-4">
                          
                          <div class="d-flex justify-content-between">
                            <p class="mb-2">Subtotal</p>
                            
                            <p class="mb-2">₹{{price}}</p>
                         
                        </div>
      
                          <div class="d-flex justify-content-between">
                            <p class="mb-2">Shipping</p>
                            <p class="mb-2">Free</p>
                          </div> {% endcomment %}
                          
                          {% comment %} <div class="d-flex justify-content-between mb-4">
                            <p class="mb-2">Total(Incl. taxes)</p>
                            <p class="mb-2">₹{{price}}</p>
                          </div> {% endcomment %}
      
                          {% comment %} <button type="button" class="btn btn-info btn-block btn-lg">
                            <a href="{% url 'checkout' %}" style="color:white;">
                            <div class="d-flex justify-content-between">
                              <span>₹{{price}}</span>
                              <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                            </div>
                            </a>
                          </button>
      
                        </div>
                      </div>
                     
                    </div>
      
                  </div>
                  {% else %}
                  <h1>
                    Your Cart is empty.
                  </h1>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> {% endcomment %}

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl ">
						<div class="wrap-table-shopping-cart" style="overflow-x:hidden;">
              {% if cart %}
							<table class="table-shopping-cart ">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">&nbsp;Price</th>
									<th class="column-4">Quantity</th>
                  {% comment %} <th class="column-4">offer price</th> {% endcomment %}
									<th class="column-5"></th>
								</tr>
                
                {% for i in cart %}
								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="{{i.productid.image.url}}" alt="IMG">
										</div>
									</td>
									<td class="column-2">{{i.productid.productname}}</td>
                  					{%if i.productid.total_disprice %}
									<td class="column-3 price" value="{{i.productid.price}}">&nbspRs.{{i.productid.total_disprice}}</td>
									{% else %}
									<td class="column-3 price" value="{{i.productid.price}}">&nbspRs.{{i.productid.price}}</td>
									{% endif %}
									<td colspan="2">
										 <div class="product_data">

                      <input type='hidden' class='prod_id' value={{i.id}}>
                      {% if i.productid.total_disprice %}
                      <input type='hidden' class='price' value={{i.productid.total_disprice}}>
                      {% else %}
                      <input type='hidden' class='price' value={{i.productid.price}}>
                      {% endif %}

                       {% csrf_token %}
                       <div class=" flex-w m-l-auto m-r-0" >
                     
                        
                         {% comment %} <a style="text-decoration:None;" href="sub/{{i.id}}/{{i.pid.id}}"><</a> {% endcomment %}
                       
                         <button class="changeQuantity decrement-btn btn btn-dark" style="margin-left:30px;border-radius:0px;">-</button>
                        
                     
                         
                        <input class="qty-input" type="text" style="border:none;text-align:center;background-color: #a6a8ab" value="{{ i.quantity }}" size="1" name="qty">
                         
                     
                         <button  id="increment-btn"  style="border-radius:0px;"class="changeQuantity increment-btn btn btn-dark">+</button>
                       
                        

                         {% comment %} <input class='prod_price'   type="text" style="border:none;text-align:center;" value="{{price}}"  name="price"> {% endcomment %}

                         {% comment %} <label class=ms-1></label> {% endcomment %}
                        
                  


                  {% comment %} <a href="{% url 'qminus' i.id %}" style="text-decoration:none"><div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                    <i class="fs-16 zmdi zmdi-minus"></i>
                  </div></a>

                  <input class="mtext-104 cl3 txt-center num-product" type="text" name="num-product2" value="{{i.quantity}}">
                  
                  <a href="{% url 'qplus' i.id %}" style="text-decoration:none"><div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                    <i class="fs-16 zmdi zmdi-plus"></i>
                  </div></a>
                </div> {% endcomment %}
                

											
                             
                <input class='prod_price' type="hidden" style="text-align:center;width:50px;" value="{{price}}"  name="price">                   
                      
                    
										
                  </div>
									</td>
                  {% if logedin == True %}
									<td class="column-5"><a href="{% url 'remove_cart' i.id %}"class="btn btn-danger">Remove</a></td>
                {% else %}
                <td class="column-5"><a href="{% url 'gcart_remove' i.id %}"class="btn btn-danger">Remove</a></td>
							{% endif %}	
              </tr>
                {% endfor %}
							</table>
						</div>

						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							{% comment %} <div class="flex-w flex-m m-r-20 m-tb-5">
								<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
									
								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Apply coupon
								</div>
							</div> {% endcomment %}

							{% comment %} <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								Update Cart
							</div> {% endcomment %}
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50 ">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm shadow p-3 mb-5 bg-white rounded">
						<h4 class="mtext-109 cl2 p-b-30" style="text-align:center;">
							Cart Total
						</h4>
            <hr>
						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
							</div>
             
							<div class="hai size-209">
                <span>
                  
                  {% comment %} Rs. {{price}} {% endcomment %}
                  <input type="text" readonly value="Rs. {{price}}" class="sub">
                  
                </span>

								{% comment %} <span class="mtext-110 cl2">
									Rs.{{price}}
								</span> {% endcomment %}
							</div>
						</div>

            <div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Shipping:
								</span>
							</div>

							<div class="size-209">
								<span class="mtext-110 cl2">
									Free
								</span>
							</div>
						</div>

	
						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									{% comment %} Rs. {{price}} {% endcomment %}
                  <input type="text" readonly value="Rs.{{price}}" style="width:100px;" class="sub">
								</span>
							</div>
						</div>
            {% comment %} <a href = "{% url 'cartlist' %}" class="btn btn-primary">Update Total</a><br> {% endcomment %}
          </br><button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							<a href = "{% url 'checkout' %}">Proceed to Checkout</a>
						</button>
            
					</div>
				</div>
			</div>
		</div>
    </div>
	</form>
  
  {% else%}
  <h1>Your Cart is empty</h1>
  {% endif %}
    <!-- <h1>Your Cart..,</h1>
    <br>
    <table style="width:70%" class="table table-light table-hover">
        <thead class="thead-dark">
          <tr style="width:10%;">
            <th scope="col">Product image</th>
            <th scope="col">Product name</th>
            <th scope="col">price</th>
            <th scope="col">quantity</th>
            <th scope="col">delete</th>
          </tr>
        </thead>
        <tbody>
            {% for i in cartdat %}
          <tr>
            <td><img src="{{i.productid.image.url}}"></td>
            <td scope="row">{{i.productid.productname}}</td>
            <td scope="row">{{i.productid.price}}</td>
            <td scope="row">{{i.quantity}}</td>
            <td><a href="#">delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table> -->
      {% for i in cartdat %}
      
</td>
{% endfor %}

      <script>
        {% if logedin == 'False' %}
        var url = '{% url 'gcart_update' %}'
        {% else %}
        var url = '{% url 'cart_update' %}'
        {% endif %}

        $(document).ready(function(){
           
            $('.increment-btn').click(function(e){
                e.preventDefault();
                console.log("hello")
                var inc_val = $(this).closest('.product_data').find('.qty-input').val();
                var inc_price = $(this).closest('.product_data').find('.price').val();
                
                console.log(inc_val)
                console.log(inc_price)
                var value = parseInt(inc_val,10);
                var tot = parseInt(inc_price);
                console.log("print",total)
               
                value = isNaN(value) ? 0: value;
                var total = $(this).closest('.product_data').find('.prod_price').val();

                if(value < 6){
                    value+=1;
                    
                    total = parseInt(total)+tot
                    console.log("tot",typeof(total))
                    $('.sub').val(total)
                    $(this).closest('.product_data').find('.qty-input').val(value);
                    $(this).closest('.product_data').find('.prod_price').val(total);
                    
                }
            });

            $('.decrement-btn').click(function(e){
                e.preventDefault();
                
                var inc_price = $(this).closest('.product_data').find('.price').val();
                var inc_val = $(this).closest('.product_data').find('.qty-input').val();
                console.log(inc_val)
                var value = parseInt(inc_val,10);
                
                var tot = parseInt(inc_price);
                console.log("desc",tot)
               
               
                value = isNaN(value) ? 0: value;
              
                
                
                if(value >1){
                    value--;
                    var total = $(this).closest('.product_data').find('.prod_price').val();
                    var m= parseInt(total)
                    for( var i=value;i>=value;i--){total = parseInt(total)-tot}
                    console.log("dec",typeof(total))
                    console.log('total',total)
                    
                    $('.sub').val(total)
                    $(this).closest('.product_data').find('.qty-input').val(value);
                    $(this).closest('.product_data').find('.prod_price').val(total);
                }
            });
             $('.changeQuantity').click(function(e){
                e.preventDefault();
                console.log('fetch')
                var cart_id = $(this).closest('.product_data').find('.prod_id').val()
                var total = $(this).closest('.product_data').find('.prod_price').val();
                var product_qty = $(this).closest('.product_data').find('.qty-input').val()
                console.log("qty",product_qty)
                var token = $('input[name=csrfmiddlewaretoken]').val()
                console.log(cart_id)
                fetch(url,{
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                        'X-CSRFToken': token,
                    },
                    body: JSON.stringify({
                        cart_id: cart_id,
                        total: total,
                        product_qty: product_qty,
                        
                        
                    }),
                })
            }) 
        

        })
    </script>
      {% endblock %}
</body>
