{% extends 'homebase.html'  %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <br><br><br><br>
    <div class="row d-flex justify-content-center ">
        <div class="col-md-6">
    <form method = "POST" >
        {% csrf_token %}
        
        <div class="form-group">
            <h1>Change Password</h1>
            <br>
          <label for="exampleInputEmail1">Old Password</label>
          <input type="text" class="form-control" name="oldpass" id="exampleInputEmail1" value="{{user.firstname}}" aria-describedby="emailHelp" style="width:50%;" placeholder="">
          
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">New Password</label>
            <input type="text" class="form-control" name="newpass" id="exampleInputEmail1" value="{{user.lastname}}" aria-describedby="emailHelp" style="width:50%;" placeholder="">
            
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class=" text-center">Confirm Password</label>
            <input type="text" class="form-control" name="confirmpass" id="exampleInputEmail1" value="{{user.email}}" aria-describedby="emailHelp" style="width:50%;" placeholder="">
            
          </div>
        
        <button type="submit" class="btn btn-primary">Submit</button><br><br>
        <a href="{% url 'userprofile'%}">Back to User Profile.</a>
        {% if messages %}
              {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger" style="width:40%; margin-left:30%;">{{message}}</div>
              {% else%}
              <div class="alert alert-{{message.tags}} ">{{message}}</div>
              {% endif %}
              {% endfor %}
              {% endif %}
      </form><br>
    </div>
    </div>
      
      <br>
      <br><br>
    {% endblock %}
</body>
</html>