{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</head>
<body>

        
<!--         
            <div class="page-content">
                <div class="form-v7-content">
                    <div class="form-left">
                         <img src="{% static './images/vert2.jpg' %}" alt="form">
                        <p class="text-1">Sign Up</p>
                        <p class="text-2">Privaci policy & Term of service</p>
                    </div>
                    <form class="form-detail" method="POST" id="myform">
                        {% csrf_token %}
                        <div class="form-row">
                            <label for="username">First name</label>
                            <input type="text" name="username" id="username" class="input-text">
                        </div>
                        <div class="form-row">
                            <label for="username">Last name</label>
                            <input type="text" name="username" id="username" class="input-text">
                        </div>
                        <div class="form-row">
                            <label for="username">username</label>
                            <input type="text" name="username" id="username" class="input-text">
                        </div>
                        <div class="form-row">
                            <label for="your_email">E-mail</label>
                            <input type="text" name="email" id="your_email" class="input-text" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                        </div>
                        <div class="form-row">
                            <label for="password">PASSWORD</label>
                            <input type="password" name="password" id="password" class="input-text" required>
                        </div>
                        <div class="form-row">
                            <label for="comfirm_password">CONFIRM PASSWORD</label>
                            <input type="password" name="password1" id="comfirm_password" class="input-text" required>
                        </div>
                        <div class="form-row-last">
                            <input type="submit" name="register" class="register" value="Register">
                            
                            <p>Or<a href={% url 'login' %}>Sign in</a></p>
                        </div>
                    </form>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
            <script>
                // just for the demos, avoids form submit
                jQuery.validator.setDefaults({
                      debug: true,
                      success:  function(label){
                        label.attr('id', 'valid');
                        },
                });
                $( "#myform" ).validate({
                      rules: {
                        your_email: {
                              required: true,
                              email: true
                        },
                        password: "required",
                        comfirm_password: {
                              equalTo: "#password"
                        }
                      },
                      messages: {
                          username: {
                              required: "Please enter an username"
                          },
                          your_email: {
                              required: "Please provide an email"
                          },
                          password: {
                              required: "Please provide a password"
                          },
                          comfirm_password: {
                              required: "Please provide a password",
                              equalTo: "Wrong Password"
                        }
                      }
                });
            </script> -->
    <div class="login-page">
        <div class="form" style="color:red;">
          <form class="login-form" method="POST" id="myform">
            {%csrf_token%}
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger ">{{message}}</div>
            {% else%}
            <div class="alert alert-danger alert-{{message.tags}} ">{{message}}</div>
            {% endif %}
            {% endfor %}
            {% endif %}
        <input type="textfield" placeholder="firstname" id="username" name="firstname">
        <input type="textfield" placeholder="lastname" id="username" name="lastname">
        <input type="textfield" placeholder="username" id="username" name="username" required>
        <input type="textfield" placeholder="email" id="your_email" name="email" required >
        <input type="textfield" placeholder="phone number" id="username" name="phonenumber">
        <input type="password" placeholder="password" id="password" name="password" required><br>
        <input type="password" placeholder="comfirm password" id="comfirm_password"name="password2" required><br>
        <input type="textfield" placeholder="Refferal code" id="refferal"name="refferal">
        <!-- <input type="submit" placeholder="submit"> -->
            <button>Register</button>
            <p class="message">Already a member? <a href={% url 'login' %}>Sign in</a></p>
              
        </form>
          
        </div>
        
             <script>
                // just for the demos, avoids form submit
                 jQuery.validator.setDefaults({
                      debug: true,
                      success:  function(label){
                        label.attr('id', 'valid');
                        },
                });
                $( "#myform" ).validate({
                      rules: {
                        your_email: {
                              required: true,
                              email: true
                        },
                        password: "required",
                        comfirm_password: {
                              equalTo: "#password"
                        }
                      },
                      messages: {
                          username: {
                              required: "Please enter an username"
                          },
                          your_email: {
                              required: "Please provide an email"
                          },
                          password: {
                              required: "Please provide a password"
                          },
                          comfirm_password: {
                              required: "Please provide a password",
                              equalTo: "Wrong Password"
                        }
                      }
                });
            </script>

            <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
</body>
</html>